.tntx-package-meta {
  .author-header {
    display: flex;

    h2 {
      font-size: 24px !important;
      flex: 1;
      margin: 0 0 12px !important;
    }

    .link-info {
      flex: 1;
      text-align: right;
      line-height: 40px;

      a {
        color: #f55d00;

        &:hover {
          color: #126BFB;
          text-decoration: underline;
        }

        i {
          font-size: 16px;
          margin-right: 4px;
        }

        span {
          font-size: 14px;
        }
      }
    }
  }

  .author-body {
    & {
      display: flex;
      background: #F8F9FA;
      border-radius: 3px;
      padding: 20px 16px;
      border-left: 3px solid #FDC429;
      box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.07);
    }

    .avatar {
      width: 40px;
      margin-right: 12px;
      cursor: pointer;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #fff;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.05);
      }
    }

    .info {
      position: relative;
      flex: 1;
      display: flex;

      h4 {
        font-size: 16px;
        color: #333;
        margin-bottom: 8px;
      }

      p {
        flex: 1;
        font-size: 14px;
        color: #333;
        margin-top: 0;
        margin-bottom: 0;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .extra {

        // & {
        // 	position: absolute;
        // 	right: 0;
        // 	top: 0;
        // }
        .git-tag,
        .link-icon {
          float: right;
          margin-left: 10px;
        }

        .git-tag {
          height: 20px;
          line-height: 20px;
          font-size: 12px;

          span,
          em {
            display: inline-block;
            padding: 0 10px;
          }

          span {
            background: #555;
            color: #fff;
            border-radius: 2px 0 0 2px;
            padding: 0 10px;
          }

          em {
            background: #46cc10;
            color: #fff;
            border-radius: 0 2px 2px 0;
            padding: 0 6px;
            font-style: normal;
          }

          em.red {
            background: #EF6555;
          }

          em.yellow {
            background: #F7B035;
          }

          em.green {
            background: #46cc10;
          }
        }

        .link-icon {
          width: 20px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          display: inline-block;

          i {
            font-size: 18px;
          }

          &.npm .anticon,
          &.npm .anticon svg {
            fill: #CB3837;
            color: #CB3837;
          }

          &.gitlab .anticon,
          &.gitlab .anticon svg {
            fill: #fc6d26;
            color: #fc6d26
          }

          &.github .anticon,
          &.github .anticon svg {
            fill: #444;
            color: #444;
          }
        }
      }
    }
  }
}


.author-component-use-table {
  & {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #ccd3e1;
    border-collapse: collapse;
  }

  th {
    min-width: 160px;
    border-width: 1px;
    padding: 6px 8px;
    border-style: solid;
    border-color: #ccd3e1;
    background-color: #e5f2ff;
  }

  td {
    border-width: 1px;
    padding: 6px 8px;
    border-style: solid;
    border-color: #ccd3e1;
    background-color: #ffffff;
  }
}